body {
    display: inline-block;
}
.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 768px;
}
.content-wrapper {
    position: absolute;
    top: 8%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
}
.l-wrap {
    margin-left: auto;
    margin-right: auto;
}
.u-sm-1-2 {
    display: inline-block;
    zoom: 1;
    letter-spacing:normal;
    vertical-align: top;
    text-rendering: auto;
    width: 54.1667%;
}
.pure-img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}
.template-item {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #eee;
}
.template-item-screenshot {
    text-align: center;
}
.template-item-head {
    margin-top: 0; /* so that the .template-item-head lines up with the image */
}
.template-item-modules {
    padding: 0;
}
.template-item-module {
    margin-right: 0.5714em;
    font-size: 0.875em;
}
.template-item-module-base a {
    border-left: 3px solid rgb(14, 144, 210);
}
.template-item-module-grids a {
    border-left: 3px solid rgb(128, 88, 165);
}
.template-item-module-forms a {
    border-left: 3px solid rgb(94, 185, 94);
}
.template-item-module-buttons a {
    border-left: 3px solid rgb(221, 81, 76);
}
.template-item-module-tables a {
    border-left: 3px solid rgb(243, 123, 29);
}
.template-item-module-menus a {
    border-left: 3px solid rgb(250, 210, 50);
}
.template-item-module a:link,
.template-item-module a:visited {
    text-transform: capitalize;
    color: rgb(75, 75, 75);
    padding: 0 0.5714em;
    line-height: 1.75;
    display: block;
}