/* Navbar override settings */

.home-menu {
    padding: 0.5em;
    text-align: center;
}
.home-menu {
    background: rgba(0,0,0,0);
}
.pure-menu.pure-menu-fixed {
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
    padding-left: 25%;
    padding-right: 25%;
}

.home-menu .pure-menu-heading {
    font-weight: 400;
    text-align: left;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: whitesmoke;
    text-decoration: none;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    text-decoration: none;
    color: #AECFE5;
}
@media (min-width: 48em) {
    body {
        font-size: 16px;
    }
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }


}

/* Video things */
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}
/* Page content now */
/* container with the slash leaning to the left */
.lean-left {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}
.lean-right {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
}

body {
    background: whitesmoke;
}
.card > h1 {
    text-align: center;
    padding-bottom: 0.5em;
}
.card > p {
    text-align: center;
}