<div class="content">
    <h2 class="content-head is-center"></h2>
    <div class="pure-g">
        <div class="l-box-lrg pure-u-1">
            <h4>Contact Me</h4>
            <p>If I don't get back to you within a day just email me</p>
            <p>You may use the form below or send me an email at:<br><strong>mail@shockrah.shop</strong></p>
            <div id="msgform"></div>
            <form id="msgform" class="pure-form pure-form-stacked">
                <fieldset class="pure-group">
                    <label for="subject">Subject</label>
                    <input id="subject" type="text" placeholder="Subject">

                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="Email">

                    <label for="details">Details</label>
                    <textarea id="details" class="pure-input-1" rows="5"></textarea>

                    <div id="response" for="submit"></div>
                    <button type="button" id="submit" class="pure-button">Get in touch</button>
                    <i id="loading" class="fa fa-spinner fa-spin" style="display:none;font-size:24px"></i>
                </fieldset>
            </form>
        </div>
    </div>
</div