<div class="footer l-box">
	<p>Feel free to send an email with any questions to <strong>mail@shockrah.shop</strong></p>
    <p>Source for this site is found <a href="https://gitlab.com/shockrahwow/webstore">here</a></p>
</div>
