<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Shockrha's shop">
    <title>Shockrah's Webservices</title>
    <meta name="description" content="I make stuff on the internet">
    <!-- open graph things -->
    <meta property="og:title" content="Shockrah's shop">
    <meta property="og:type" content="Webstore">
    <meta property="og:description" content="I make stuff on the internet">
    <meta property="og:url" content="https://www.shockrah.shop">
    <meta property="og:image" content="https://assets.gitlab-static.net/uploads/-/system/project/avatar/5228234/hearttwitchlogo.png">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    
	<script src="https://kit.fontawesome.com/744f5c4640.js"></script>
    <link rel="stylesheet" href="/static/css/index.css">
    {% include 'header-pure.jinja' %}
    {% include 'header-bootstrap.jinja' %}
</head>
<body>
{% include 'navbar.jinja' %}
<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Shockrah.shop</h1>
        <p class="splash-subhead">Web Development for all kinds of business</p>
        <p>
            <a href="#msgform" class="pure-button pure-button-primary">Let's get in touch</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Unique solutions for unique people</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3 class="content-subhead"><i class="fas fa-dollar-sign"></i>Flexible pricing & free consultation</h3>
                <p>I'm open to discuss what kind of needs your business needs for no charge.</p>
                <p>Not everyone needs the same features so we can adjust things appropriately.</p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3 class="content-subhead">
                    <i class="fa fa-wrench"></i>
                    Custom tailored for you
                </h3>
                <p>Whether you need a blog, ecommerce site, or something else we can surely build something to suit your needs.</p>
				<p>I will personally work with you to make sure your needs are met to what <em>you</em> are looking for</p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Modularity
                </h3>
                <p>Clean and simple layout designs to help you stand out among competitors.</p>
                <p>Designs are also easily scaleable</p>
            </div>
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
				<h3 class="content-subhead">
					<i class="fas fa-scroll"></i>
					Trustworthy work
				</h3>
				<p>Below I've linked to a simple contract to show what kind of terms you can expect to sign with before doing so</p>
				<a href="/terms">My terms and conditions</a>
			</div>
        </div>
    </div>
    {% include 'email-contact.jinja' %}
</div>
</body>
	<!-- Forms boilerplate and email ajax things -->
    {% include 'bootstrap-scripts-footer.jinja' %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/email-form.js') }}"></script>
</html>
