<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Package Pricing's">
    <title>Package Info</title>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css')}}">
	{% include 'header-bootstrap.jinja' %}
</head>
<body>
{% include 'navbar.jinja' %}
<div class="banner">
    <h1 class="banner-head">Package Information</h1>
</div>
<div class="l-content">
	<div id="terms" class="section-header h1">Terms</div>
	<div class="content">
		<blockquote><a href="/terms">Link to terms</a></blockquote>
		<p>Above I've linked to the terms and conditions which I work under for your convenience</p>
	</div><hr>
	<div id="blog-static" class="section-header h1">Static Blog</div>
	<div class="content">
		<blockquote>Who is this for?</blockquote>
		<p>If you just want a basic blog to post to without any super fancy backend</p>
		<blockquote>What does static mean here?</blockquote>
		<p>No database, user accounts, activity tracking etc.</p>
		<blockquote>The examples page said something about <em>Hugo</em>, elaborate?</blockquote>
		<p>If you don't care for a <em>fully custom</em> blog Hugo is an easy way to write content and even test it before uploading it to your website.</p>
		<p>This is best if you want to maintain the site yourself after I hand it off to you, but aren't necessarily techy</p>
		<blockquote>Can't I just send you the stuff I want to post and you upload it?</blockquote>
		<p>First month after our initial contract terminates I offer that service for free</p>
		<p>Afterwards it's $10 monthly</p>
	</div>
	<hr>
	<div id="blog-dynamic" class="section-header h1">Dynamic Blog</div>
	<div class="content">
		<blockquote>Who is this for?</blockquote>
		<p>If you want to be able to let people comment, maintain a database of some kind, or need access to external API's, it requires some kind of <em>backend</em>.</p>
		<p><em>NOTE: </em>While some api's are accessible through javascript in a user's browser its best to keep those things hidden away on the backend to keep any sensitive API keys away from potentially malicious users.</p>
		<blockquote>What does dynamic mean here?</blockquote>
		<p>See above:<br>tl;dr unless you have a really good reason to, you probably don't need this.</p>
	</div>
	<hr>
	<div id="general-static" class="section-header h1">Static General Business</div>
	<div class="content">
		<blockquote>Who is this for?</blockquote>
		<p>Anyone with a business that just wants to show off their brand or what they are about</p>
		<blockquote>What does static mean?</blockquote>
		<p>The website won't have a database, user accounts, activity tracking etc.</p>
		<p>Usually the best option for businesses that just to display information rather be interactive.</p>
	</div>
	<hr>
	<div id="general-dynamic" class="section-header h1">Dynamic General Business</div>
	<div class="content">
		<blockquote>Who is this for?</blockquote>
		<p>If your business requires user accounts, online store system, or user accounts then this is likely what you're looking for.</p>
		<blockquote>Why the price range?</blockquote>
		<p>Because the requirements will change with every business it's best if we get in contanct first to discuss what you're looking for.</p>
	</div>
</div>
</body>
{% include 'bootstrap-scripts-footer.jinja' %}
</html>
