<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Shockrah.shop</a>
  <button 
        class="navbar-toggler dropdown" 
        type="button" data-toggle="collapse" 
        data-target="#nav-content" 
        aria-controls="nav-content" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/templates">Showcase</a>
      </li>
      <li class="nav-item"> 
        <a class="nav-link" href="/store">Services</a>
      </li>
    </ul>
  </div>
</nav>