<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Package Pricing's">
    <title>Shockrah's Pricing</title>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    {% include 'header-bootstrap.jinja' %}

</head>
<body>
{% include 'navbar.jinja' %}
<div class="banner">
    <h1 class="banner-head">Services</h1>
</div>
<div class="l-content">
    <div class="section-header h1">Re-Work/ Re-Design</div>
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="pricing-table pricing-table-basic">
                <div class="pricing-table-header">
                    <span class="pricing-table-price">Frontend</span>
                </div>
                <ul class="pricing-table-list">
                    <li>Visual rework</li>
                    <li>URL's are not affected unless asked</li>
                    <li>Can be based off an existing template or a fully custom design</li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="pricing-table pricing-table-dynamic">
                <div class="pricing-table-header">
                    <span class="pricing-table-price">Backend</span>
                </div>
                <ul class="pricing-table-list">
                    <li>Code reviews and updates to support easier maintainability</li>
                    <li>New features you want to support they can be discussed</li>
                    <li>*Limited to backends in Python/PHP</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-header h1">Basic Services</div>
    <div class="pricing-tables pure-g">
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="pricing-table">
                <div class="pricing-table-header">
                    <h2>Blogs - starting at</h2>
                    <span class="pricing-table-price">$250</span>
                </div>
                <ul class="pricing-table-list">
                    <li>Platform is up to your desire otherwise I can provide some suggestions</li>
                    <li>If you don't want to pay for domains or ssl there are plenty of free alternatives</li>
                </ul>
            </div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
            <div class="pricing-table">
                <div class="pricing-table-header">
                    <h2>General site - starting at</h2>
                    <span class="pricing-table-price">$350</span>
                </div>
                <ul class="pricing-table-list">
                    <li>Please contact me with a list of desired features at <strong>mail@shockrah.shop</strong> for a useful quote</li>
                    <li>Social media like twitch/youtube/twitter etc. can be embedded dynamically</li>
                    <li>Depending on what requirements there are price may vary</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-header h1">Work Terms</div>
    <p>For your convenience here are the <a href="/terms">terms and conditions</a> I use.</p>
</div>
{% include 'footer_code.jinja' %}
{% include 'bootstrap-scripts-footer.jinja' %}
</body>
</html> 
