<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Package Pricing's">
    <title>Template Examples</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css')}}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    {% include 'header-bootstrap.jinja' %}
</head>
<body>
{% include 'navbar.jinja' %}
<div class="content-wrapper">
	<div class="content">
		<br><h3>Esports Theme</h3>
		<blockquote>A simple yet effective layout to tell people what your organization is all about</blockquote>
		<a href="/examples/esports" target="_blank"><img class="pure-img" src="/static/images/esports-preview.png"></a>
		<hr>
		<h3>Wordpress Coffee Sample</h3>
		<a href="https://leftcoast998970863.wordpress.com/" target="_blank"><img class="pure-img" src="/static/images/coffee_sample.png"></a>
		<hr>
		<h1>Templates powered by Hugo</h1>
		<p>Here are some templates made for Hugo which you might want to use.</p>
		<br><a target="_blank" href="https://themes.gohugo.io/tags/blog/">Link to full list of templates</a></p>
		<h2>Blog Templates</h2>
		<hr>
		<h3>Solar Theme</h3><blockquote>A light or dark minimalistic theme</blockquote>
		<a href="https://themes.gohugo.io/theme/solar-theme-hugo/" target="_blank"><img class="pure-img" src="https://d33wubrfki0l68.cloudfront.net/76498637193fe248785881c78771cb326786f5f5/5fe14/solar-theme-hugo/tn-featured-solar-theme-hugo_huda811db9b4d32264c6e9f48e86b16910_60565_384x256_fill_catmullrom_top_2.png"></a>
		<hr>
		<h3>Pulp</h3><blockquote>Pulp is a Hugo theme for getting a simple, easy-to-read blog site.</blockquote>
		<a href="https://themes.gohugo.io/theme/pulp/" target="_blank"><img class="pure-img" src="https://d33wubrfki0l68.cloudfront.net/f9969d9022f9e3d4510e545a6bb9c26297b97a8f/0e48c/pulp/tn-featured-pulp_hudecb11380f434f91c1b97c675bcf7f46_63441_384x256_fill_catmullrom_top_2.png"></a>
		<hr>
		<h3>Future Imperfect Slim</h3><blockquote>Future Imperfect Theme - Slimmed Down</blockquote>
		<a href="https://themes.gohugo.io/theme/hugo-future-imperfect-slim/" target="_blank"><img class="pure-img" src="https://d33wubrfki0l68.cloudfront.net/9738ce1e62ba5d90a248e91c887e7a79aad986fe/75548/hugo-future-imperfect-slim/tn-featured-hugo-future-imperfect-slim_hu86f9c065110bf1ecef4de48d6e20f65e_264638_384x256_fill_catmullrom_top_2.png"></a>
		<hr>
		<h3>Piercer</h3><blockquote>Piercer is a very customizable, fast and simple Hugo theme designed under the mobile-first philosophy.</blockquote>
		<a href="https://themes.gohugo.io/theme/hugo-piercer-theme/" target="_blank"><img class="pure-img" src="https://d33wubrfki0l68.cloudfront.net/dba5e0636961d4c48a32a607111ad529e2b76d63/43c62/hugo-piercer-theme/tn-featured-hugo-piercer-theme_hub4d2a5abe9107d253bb8993906f3ca51_13151_384x256_fill_catmullrom_top_2.png"></a>
	</div>
</div>
</body>    
{% include 'bootstrap-scripts-footer.jinja' %}
</html>
