<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Elec Esports - Sample Page">
    <title>Elec Esports</title>
    <meta name="description" content="Sample esports page - courtesy of shockrah.shop">
    <!-- open graph things -->
    <meta property="og:title" content="Elev Esports">
    <meta property="og:type" content="Esports">
    <meta property="og:description" content="Sample esports page - courtesy of shockrah.shop">
    <meta property="og:url" content="https://www.shockrah.shop/examples/esports">
    <meta property="og:image" content="https://assets.gitlab-static.net/uploads/-/system/project/avatar/5228234/hearttwitchlogo.png">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/esports.css')}}">
        <!--<![endif]-->
    <!--[if lt IE 9]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Elec Esports</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Players</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Story</a></li>
        </ul>
    </div>
<div class="splash-container">
    <div class="splash">
        <h1 class="head-card splash-head">Elec Esports</h1>
        <p class="splash-subhead"></p>
    </div>
</div>
<div class="content-wrapper">
    <div class="content">
    <h2 class="content-head is-center">Who we are</h2>
    <div class="pure-g">
            <div class="card l-box pure-u-1">
                <h3 class="content-subhead"><i class="fa fa-bolt"></i>A fast paced esport organizaton</h3>
                <p>Look for us in the next major tournaments because we'll be making all the headlines! <i class="fa fa-trophy"></i></p>
            </div>
            <div class="card l-box pure-u-1">
                <h3 class="content-subhead"><i class="fa fa-gamepad"></i>Gamers with a cause</h3>
                <p>Our players strive to be the best and never stop short of 1st place.</p>
            </div>
            <div class="card l-box pure-u-1">
                <h3 class="content-subhead">
                    <i class="fas fa-glass-cheers"></i>
                    More to celebrate
                </h3>
                <p>
                    Not only are the players we have amazing but the community as well!
                    This is only the beginning of for thr organizaton so look out for us!
                </p>
            </div>
        </div>
</div>
</body>
</html>

